# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.classpath
.project
gen/android/support/v7/appcompat/R.java
gen/com/example/longdungeon/R.java
gen/com/example/longdungeon/BuildConfig.java
project.properties
BattleLoop.java

src/com/example/longdungeon/character/ParcelTest.java
res/layout/layout_1.xml
src/com/example/longdungeon/BattleActivity.java
