# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.classpath
.project
gen/android/support/v7/appcompat/R.java
gen/com/example/longdungeon/R.java
gen/com/example/longdungeon/BuildConfig.java
project.properties
BattleLoop.java
res/menu/login_test.xml
res/layout/activity_shopping_test.xml
res/menu/shopping_test.xml
src/com/example/longdungeon/LoginTestActivity.java
