<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.longdungeon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.longdungeon.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.longdungeon.BattleActivity"
            android:label="@string/title_activity_battle"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.longdungeon.ShoppingActivity"
            android:label="@string/title_activity_shopping"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.longdungeon.CongrateActivity"
            android:label="@string/title_activity_congrate"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.longdungeon.InventoryActivity"
            android:label="@string/title_activity_inventory"
            android:screenOrientation="landscape" >
        </activity>
        
         <activity
            android:name="com.example.longdungeon.InventoryTestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>